*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: lightgreen;
  width: 1330px;
  min-height: 150px;
  padding: 20px;
  margin: 10px;
}
.test {
  background-color: blueviolet;
  width: 1330px;
  min-height: 150px;
  padding: 20px;
  margin: 10px;
}
.test h1,p{
  color: white;
}